<div class="container mb-5">
    <div class="row mt-3">
        <div class="card col-lg-8 ml-auto" style="background: none; border: none;">
            <div class="card-body text-white">
              <h5 class="card-title display-1">Servicios Medicos</h5>
              <p class="card-text my-text">Las palabras amables pueden ser cortas y fáciles de hablar, pero sus ecos son realmente infinitos. OSFIUNJU se enfoca en usted como si fuera nuestra propia familia.</p>
              <a href="#" class="btn text-white my-text my-btn-lg">Ver servicios</a>
            </div>
          </div>
    </div>
</div>
<div class="container-fluid p-0 pt-5">
    <div class="bg-light">
        <p class="display-3 text-center py-5">Especialidades</p>
        <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in ducimus consequatur quod dolorem recusandae quibusdam, iure rem nemo, quos possimus cupiditate voluptas tempora porro voluptates? Possimus, vero? Tenetur, nesciunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in ducimus consequatur quod dolorem recusandae quibusdam, iure rem nemo, quos possimus cupiditate voluptas tempora porro voluptates? Possimus, vero? Tenetur, nesciunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem in ducimus consequatur quod dolorem recusandae quibusdam, iure rem nemo, quos possimus cupiditate voluptas tempora porro voluptates? Possimus, vero? Tenetur, nesciunt.</p>
        <div id="especialidades" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/img/slider/img-1.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-2.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-3.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-4.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-5.jpg" class="d-block w-100">
              </div>
            </div>
            <a class="carousel-control-prev" href="#especialidades" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#especialidades" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Seguiente</span>
            </a>
        </div>
        <div class="container">
            <div class="pt-5">
                <h2 class="display-4">Odontología</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                </p>
            </div>
            <div class="pt-5">
                <h2 class="display-4">Kinesiología</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                </p>
            </div>
            <div class="pt-5">
                <h2 class="display-4">Cardiología</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                </p>
            </div>
            <div class="pt-5">
                <h2 class="display-4">Nutrición</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                </p>
            </div>
            <div class="pt-5">
                <h2 class="display-4">Médico Clínico</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum asperiores porro doloremque quos laudantium deserunt earum, corrupti eius? Voluptatibus repellendus, illo aliquid temporibus id officia commodi a facere fuga totam.
                </p>
            </div>
        </div>
    </div>
</div>