<div class="container pb-5">
    <div class="row">
        <div class="card col-sm-7 offset-sm-3 col-md-7 offset-md-5 col-lg-5 offset-lg-6 mt-5 my-bg-trasnparent" style="border: none;">
            <div class="card-body row text-center text-white">
                <p class="card-title col-md-12 my-text ">Horarios de atencion</p>
                <p class="col-md-6 my-text-2">Lunes a Viernes</p>
                <p class="col-md-6 my-text-2">8:00 - 20:00</p>
                
                <p class="col-md-6 my-text-2">Sabados y Feriados</p>
                <p class="col-md-6 my-text-2">8:00 - 14:00</p>

                <p class="col-md-6 my-text-2">Domingos</p>
                <p class="col-md-6 my-text-2">9:00 - 12:00</p>
            </div>
          </div>

          <div id="cajas" class="col-md-12">
            <div class="row text-white text-center">
              <div class="card col-12 col-md-6 col-lg-3 my-bg-lightblue-1" style="width: 18rem;">
                <img src="../../../assets/img/icon/steto.png" class="card-img-top m-auto pt-3">
                <div class="card-body px-0">
                  <p class="card-title my-text">Guardias Médicas</p>
                  <p class="card-text my-text-2">Encontrá a los profesionales, sanatorios y clínicas más cercanas a vos</p>
                  <button class="my-btn my-text-2">Más información</button>
                </div>
              </div>
              <div class="card col-12 col-md-6 col-lg-3 my-bg-lightblue-2" style="width: 18rem;">
                <img src="../../../assets/img/icon/plus.png" class="card-img-top m-auto pt-3">
                <div class="card-body px-0">
                  <p class="card-title my-text">Cobertura</p>
                  <p class="card-text my-text-2">Consultá cuánto y qué te cubrimos en prácticas, consultas y medicamentos.</p>
                  <button class="my-btn my-text-2">Más información</button>
                </div>
              </div>
              <div class="card col-12 col-md-6 col-lg-3 my-bg-lightblue-3" style="width: 18rem;">
                <img src="../../../assets/img/icon/medicine.png" class="card-img-top m-auto pt-3">
                <div class="card-body  px-0">
                  <p class="card-title my-text">Vademécum</p>
                  <p class="card-text my-text-2">Enterate de todos los medicamentos a los que podes acceder</p>
                  <button class="my-btn my-text-2">Más información</button>
                </div>
              </div>
              <div class="card col-12 col-md-6 col-lg-3 my-bg-lightblue-4" style="width: 18rem;">
                <img src="../../../assets/img/icon/shop.png" class="card-img-top m-auto pt-3">
                <div class="card-body px-0">
                  <p class="card-title my-text">Comercios amigos</p>
                  <p class="card-text my-text-2">Mirá los descuentos que tenés en diversos comercios solo por ser parte de OSFIUNJU</p>
                  <button class="my-btn my-text-2">Más información</button>
                </div>
            </div>
            </div>
          </div>
    </div>
</div>