.fondo{
    background: rgb(39, 39, 39);
}
.fondo-body{
    background: rgb(51, 51, 51);
}


div button{
    background-color: #FFFFFF;
    color: black;
}
div button:hover{
    background: rgb(20, 196, 61);
    color:white;
}
div button:disabled{
    cursor: not-allowed;
}