<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mt-3 mb-5 justify-content-center p-2">
                <div class="col-12 col-md-8">
                  <form class="card" #formPaciente="ngForm" >
                     <div class="card-header fondo"> 
                       <h3 class=" font-weight-bold text-white">  Gestion De Pacientes:  </h3>  
                     </div>
                      <div class="card-body fondo-body text-white">
                        <div class="row form-group">
                          <label class="col-sm-12 col-md-4 font-weight-bold">Apellido: </label>
                           <input class="form-control col-sm-12 col-md-8" #apellido="ngModel" type="text" name="apellido" [(ngModel)]="paciente.apellido" placeholder="Apellido del paciente" required/>
                          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                           <div *ngIf="apellido.errors.required"> Apellido paciente es requerido.</div> 
                          
                            </div>
                        </div>
                       <div class="row form-group">
                          <label class="col-sm-12 col-md-4 font-weight-bold" >Nombre: </label>
                           <input class="form-control col-sm-12 col-md-8" #nombre="ngModel" type="text" name="nombre" [(ngModel)]="paciente.nombre" placeholder="Nombre del paciente" required/>
                           <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                             <div *ngIf="nombre.errors.required"> Nombre del paciente es requerido.</div> 
                           </div>
                         </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >DNI: </label>
                             <input class="form-control col-sm-12 col-md-8" #dni="ngModel" type="text" name="dni" [(ngModel)]="paciente.dni" placeholder="DNI del paciente" required/>
                             <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="dni.errors.required"> DNI del paciente es requerido.</div> 
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Direccion: </label>
                             <input class="form-control col-sm-12 col-md-8" #direccion="ngModel" type="text" name="direccion" [(ngModel)]="paciente.direccion" placeholder="Direccion del paciente" required/>
                             <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="direccion.errors.required"> Direccion del paciente es requerido.</div> 
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Telefono: </label>
                             <input class="form-control col-sm-12 col-md-8" #telefono="ngModel" type="number" name="Telefono" [(ngModel)]="paciente.telefono" placeholder="Telefono 4913162" required/>
                             <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="telefono.errors.required"> Telefono del paciente es requerido.</div> 
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Email: </label>
                             <input class="form-control col-sm-12 col-md-8" #email="ngModel" type="email" name="email"  pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="paciente.email" placeholder="algo@algo.com" required/>
                             <div *ngIf="email.invalid && (email.dirty || email.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="email.errors.required"> Email del paciente es requerido.</div> 
                               <div *ngIf="email.errors.pattern"> Email es invalido, ej: algo@algo.com.</div>
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Contraseña: </label>
                             <input class="form-control col-sm-12 col-md-8" #pass="ngModel" type="text" name="pass" [(ngModel)]="paciente.contrasena" placeholder="*******" required/>
                             <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="pass.errors.required"> Contraseña del paciente es requerido.</div> 
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Fecha Nacimiento: </label>
                             <input class="form-control col-sm-12 col-md-8" #fecha="ngModel" type="date" name="fecha" [(ngModel)]="paciente.fechaNacimiento" placeholder="3/3/2000" required/>
                             <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="fecha.errors.required"> Fecha del paciente es requerido.</div> 
                             </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-12 col-md-4 font-weight-bold" >Perfil: </label>
                             <input class="form-control col-sm-12 col-md-8" #perfil="ngModel" type="text" name="perfil" [(ngModel)]="paciente.perfil" placeholder="Paciente" required/>
                             <div *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                               <div *ngIf="perfil.errors.required"> Perfil del paciente es requerido.</div> 
                             </div>
                        </div>
                       <div class="row form-group">
                           <div class="col-12 p-3 mr-2">
                             <button type="button" class="btn btn-dark m-1" (click)="registrarPaciente(); formPaciente.reset() " [disabled]="!(formPaciente.form.valid && btnGuardar)" ><i class="fas fa-check-square"></i> Guardar</button>                       
                             <button *ngIf="btnModificar" type="button" class="btn btn-dark m-1" (click)="modificarPaciente(); formPaciente.reset() " [disabled]="!(formPaciente.form.valid && btnModificar)"><i class="fas fa-check-square"></i> Modificar</button>
                             <button *ngIf="btnModificar" type="button" class="btn btn-dark m-1" (click)="cancelarModificacion(); formPaciente.reset() " ><i class="fas fa-window-close"></i> Cancelar</button>                       
                           </div>
                        </div>
                    </div>
                 </form>
                </div>
                  
          </div>
      
            <!--  -->
            <div class="row mb-5">
              <div class="col-sm-12 justify-content-center fondo">
                <div class="h3 bg-gray text-center mt-2 mb-2 text-white"> LISTA DE PACIENTES:</div>
              </div>
            </div>
            <!-- tabla -->
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-10 table-responsive">
                <table class="table table-striped " [mfData]="pacientes" #mf="mfDataTable" [mfRowsOnPage]="5">
                  <thead class="fondo text-white">
                    <tr class="text-center">
                      <th style="width: 20%">
                        <mfDefaultSorter by="apellido"> Apellido</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="nombre"> Nombre</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="dni"> DNI</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="direccion"> Direccion</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="telefono"> Telefono</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="email"> Email:</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="contrasena"> Contraseña:</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="fechaNacimiento"> Nacimiento:</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                        <mfDefaultSorter by="perfil"> Perfil:</mfDefaultSorter>
                      </th>
                      <th style="width: 10%">
                        Acciones:
                    </th>
                    </tr>
                  </thead>
                  <tbody class="text-white fondo-body">
                    <tr *ngFor="let item of mf.data">
                      <td> {{item.apellido | uppercase}} </td>
                      <td> {{item.nombre}} </td>
                      <td> {{item.dni}} </td> 
                      <td> {{item.direccion}} </td>
                      <td> {{item.telefono}} </td>
                      <td> {{item.email}} </td>
                      <td> {{item.contrasena}} </td>
                      <td> {{item.fechaNacimiento | date:"dd-MM-yyyy" }} </td>
                      <td> {{item.perfil}} </td>  
                      <td> 
                        <button type="button" title="edit" class="btn btn-dark mr-1 mb-1" (click)="elegirPaciente(item)" ><i class="fas fa-edit"></i></button>    
                        <button [disabled]="btnModificar" type="button" title="delete" class="btn btn-dark mr-1 mb-1" (click)="cargarPacienteModal(item)" data-toggle="modal" data-target="#eliminar"><i class="fas fa-trash-alt"></i></button>         
                      </td>  
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,15,20]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            
            </div> 
      
        </div>
      </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header fondo">
          <h5 class="modal-title font-weight-bold text-white " id="exampleModalLabel"><i class="fas fa-exclamation-triangle text-danger"></i> CONFIRMACION DE ACCION: </h5>
        </div>
        <div class="modal-body text-white fondo-body">
          <form>
            <div class="form-group">
              <div class="row">
                <label class="col-12 font-weight-bold"> Eliminar <i class="fas fa-question text-danger"></i></label>
                 <label class="col-12 col-md-4 font-weight-bold">Apellido:</label>
                 <div class="col-12 col-md-8"> {{pacienteBorrar.apellido}} </div> 
                 <label class="col-12 col-md-4 font-weight-bold">Nombre:</label>
                 <div class="col-12 col-md-8"> {{pacienteBorrar.nombre}} </div> 
                 <label class="col-12 col-md-4 font-weight-bold">DNI:</label>
                 <div class="col-12 col-md-8"> {{pacienteBorrar.dni}} </div> 
                 <label class="col-12 col-md-4 font-weight-bold">Telefono:</label>
                 <div class="col-12 col-md-8"> {{pacienteBorrar.telefono}} </div> 
                 <label class="col-12 col-md-4 font-weight-bold">Email:</label>
                 <div class="col-12 col-md-8"> {{pacienteBorrar.email}} </div> 
              </div>
            </div>
         </form>
        </div>
        <div class="modal-footer fondo">
          <button type="button" class="btn btn-dark" (click)="borrarPaciente()" data-dismiss="modal">ACEPTAR</button>
          <button type="button" class="btn btn-dark"  data-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>